<a href="https://colab.research.google.com/github/AnamHJ24/datascience-python-challenges/blob/main/notebooks/Day7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Day 7 - Nike
You are a Product Analyst working on **Nike**'s marketing performance team. Your team wants
to evaluate the effectiveness of celebrity product collaborations by analyzing sales data. You
will investigate the performance of celebrity product drops to inform future marketing
strategies.

In [1]:
# Import required libraries
import pandas as pd
import numpy as np

# Import data file
url = "https://raw.githubusercontent.com/AnamHJ24/datascience-python-challenges/refs/heads/main/Data/Day7.txt"
fct_sales = pd.read_csv(url)
fct_sales.head()

   sale_id   sale_date  product_id  sale_amount  celebrity_id
0        1  2025-01-10         901          NaN           101
1        2  2025-01-15         901      1500.00           101
2        3  2025-02-03         902      2000.50           102
3        4  2025-03-12         903      2500.75           103
4        5  2025-03-20         904          NaN           104

## Question 1
For Q1 2025 (January 1st through March 31st, 2025), can you identify all records of celebrity
collaborations from the sales data where the sale_amount is missing? This will help us flag incomplete
records that could impact the analysis of Nike's product performance.

## Solution:

In [2]:
# Convert required column to datetime
fct_sales['sale_date'] = pd.to_datetime(fct_sales['sale_date'])

# Filter Quarter 1 2025 data
q1_25 = fct_sales[fct_sales['sale_date'].between('2025-01-01','2025-03-31')]

# Identify rows with missing sale amount
missing_q1 = q1_25[q1_25['sale_amount'].isna()]
print(missing_q1)

    sale_id  sale_date  product_id  sale_amount  celebrity_id
0         1 2025-01-10         901          NaN           101
4         5 2025-03-20         904          NaN           104
12       13 2025-03-15         909          NaN           102

## Question 2
For Q1 2025 (January 1st through March 31st, 2025), can you list the unique combinations of
celebrity_id and product_id from the sales table? This will ensure that each collaboration is accurately
accounted for in the analysis of Nike's marketing performance.

## Solution

In [6]:
# Find unique combinations of celebrity and product ids
unique_combo = q1_25[['celebrity_id', 'product_id']].drop_duplicates()
print("Unique combinations of Celebrity and Product ID's:\n")
print(unique_combo)

Unique combinations of Celebrity and Product ID's:

    celebrity_id  product_id
0            101         901
2            102         902
3            103         903
4            104         904
7            105         905
9            106         906
10           107         907
11           101         908
12           102         909
13           108         910

## Question 3
For Q1 2025 (January 1st through March 31st, 2025), can you rank the unique celebrity collaborations
based on their total sales amounts and list the top 3 collaborations in descending order? This will help
recommend the most successful partnerships for Nike's future product drop strategies.

## Solution

In [9]:
# Find total sales amounts
sales_sum = q1_25.groupby(['celebrity_id','product_id'])['sale_amount'].sum()

# Sort and list top 3
print("Top 3 celebrity collaborations and their total sales amounts:\n")
print(sales_sum.sort_values(ascending = False).head(3))

Top 3 celebrity collaborations and their total sales amounts:

celebrity_id  product_id
102           902           3800.50
103           903           3700.75
105           905           2500.00
Name: sale_amount, dtype: float64